

@media screen and (max-width: 600px) {
  .forgotPasswordForm {
    width: 100%;
  }
  .forgotPasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
  }
}
