.search {
  height: 100vh;
  background-image: linear-gradient(to right, rgb(26, 25, 25), rgb(69, 68, 68));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem .8rem .8rem .8rem;
}

.searchForm {
  background-color: black;
  height: 86vh;
  width: 95%;
  max-width: 500px;
  border-radius: 30px;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  align-items: center;
  width: 98%;
  border-radius: 25px;
  background-color: #171717;
  padding: 0.5em;
  margin: .5vmax 0;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  padding: 0.5em;
}

.searchResults {
  width: 100%;
  padding: 2vmax 0;
  margin: 2vmax 0;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .searchForm {
    width: 90%;
    padding: 1.5rem;
  }

  .input-field {
    font: 100 1rem "Roboto", sans-serif;
  }
}

@media screen and (max-width: 400px) {
  .searchForm {
    width: 95%;
  }

  .input-field {
    font: 100 0.9rem "Roboto", sans-serif;
  }
}